<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ms-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Firebase_Logo.svg/1280px-Firebase_Logo.svg.png" width="150" height="40" class="d-inline-block aling-top">
    </a>
    <a class="navbar-brand me-3" *ngIf="userLogged | async as user">
        <img [src]="user.photoURL" onerror="this.src = 'assets/imgs/avatar.png'" width="40" height="40" class="d-inline-block aling-top avatar me-1">
        <b class="email d-none d-md-inline">{{ user.email }}</b>
        <img src="assets/imgs/logout.svg" class="icon ms-3" (click)="logout()">
    </a>
  </nav>